@charset "UTF-8";
@font-face {
  font-family: "karla";
  src: url("../../font/karla/karla.bold-webfont.woff2") format("woff2"), url("../../font/karla/karla.bold-webfont.woff") format("woff"), url("../../font/karla/karla.bold-webfont.ttf") format("truetype"), url("../../font/karla/karla.bold-webfont.svg#karlabold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "karla";
  src: url("../../font/karla/karla.regular-webfont.woff2") format("woff2"), url("../../font/karla/karla.regular-webfont.woff") format("woff"), url("../../font/karla/karla.regular-webfont.ttf") format("truetype"), url("../../font/karla/karla.regular-webfont.svg#karlaregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../../icon/icomoon.eot?8tac7y");
  src: url("../../icon/icomoon.eot") format("embedded-opentype"), url("../../icon/icomoon.ttf") format("truetype"), url("../../icon/icomoon.woff") format("woff"), url("../../icon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.shopping-cart:before {
  content: "";
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: karla, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1D1F2E;
}

h1 {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo__img {
  max-width: 112px;
}

.section-title {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D1F2E;
}

.btn {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px 24px;
  background-color: #fff;
  color: #1D1F2E;
  border: none;
  outline: none;
}
.btn_black {
  background-color: #1D1F2E;
  color: #fff;
}

.price {
  color: rgba(29, 31, 46, 0.7);
  text-align: center;
}
.price_old {
  color: rgba(29, 31, 46, 0.4);
  text-decoration: line-through;
}
.price_new {
  font-size: 20px;
  color: #A25F4B;
}

.life-style {
  padding: 0 0 48px;
  margin-bottom: 140px;
}
.life-style__section-title {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 102px;
  text-align: center;
}
.life-style__section-title::before {
  content: "";
  border: 1px solid red;
  width: 30px;
  height: 1px;
  margin-right: 15px;
}
.life-style__section-title::after {
  content: "";
  border: 1px solid red;
  width: 30px;
  height: 1px;
  margin-left: 15px;
}
.life-style__card-holder {
  width: calc(100% / 3);
  padding: 0 20px 48px 10px;
  margin-right: -20px;
}
@media (max-width: 768px) {
  .life-style__card-holder {
    width: 50%;
  }
}
@media (max-width: 360px) {
  .life-style__card-holder {
    width: 100%;
  }
}
.life-style__img {
  margin-bottom: 29px;
}
.life-style__title {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
.life-style__text {
  color: rgba(29, 31, 46, 0.7);
  margin-bottom: 16px;
}

.updates {
  background-color: #1D1F2E;
  text-align: center;
  padding: 80px 0 85px;
  margin: 0 30px 107px;
}
.updates__pseudo-title {
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
}
.updates__pseudo-title::after {
  content: "";
  width: 30px;
  color: rgba(210, 210, 213, 0.1);
  border-radius: 0px;
  padding-left: 15px;
  -webkit-transform: rotare 20deg;
          transform: rotare 20deg;
}
.updates__title {
  color: #fff;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}
.updates__form {
  width: 100%;
}
.updates__input {
  width: 350px;
  height: 54px;
  padding: 18px;
  border: 1px solid #2F303E;
  background-color: #1D1F2E;
  color: #fff;
}
.updates__input::-webkit-input-placeholder {
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}
.updates__input::-moz-placeholder {
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}
.updates__input:-ms-input-placeholder {
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}
.updates__input::-ms-input-placeholder {
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}
.updates__input::placeholder {
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}
.updates__btn {
  max-width: 129px;
  height: 54px;
  padding: 18px 25px;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */