.featured {
  padding: 98px 0 119px;

  &__title-holder {
    text-align: center;
    padding: 0 0 100px;
  }

  &__column {
    width: 49%;
  }

  &__image-holder {
    margin-bottom: 35px;
  }

  &__card-text {
    text-align: center;
  }

  &__heading {
    font-size: 20px;
    color: $dark-blue;
    display: block;
    padding: 0 0 5px;
  }
}