.life-style {
    padding: 0 0 189px;

    .section-title {
        margin: 0 auto 102px;
        text-align: center;        
    }

    .flex-container {
        align-items: flex-start;
    }

    &__card-holder {
        width: 32%;
    }
    
    &__img {
        margin-bottom: 29px;
    }

    &__title {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 32px;
    }

    &__text {
        color: $black-opacity07;
        margin-bottom: 16px;
    }

    &__date {
        @include capslock-text;
    }

    
}

